.product-page-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.product-name {
  font-size: 36px;
  margin-bottom: 20px;
}

.product-page-image {
  width: 400px;
  height: 400px;
  object-fit: contain;
  margin-bottom: 20px;
}

.product-page-description {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: justify;
}

.product-page-price {
  font-size: 24px;
  margin-bottom: 20px;
}

.product-page-catalog__item-button {
  display: inline-block;
  background-color: #008CBA;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-page-catalog__item-button:hover {
  background-color: #006B84;
}
