.cart-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-table th,
  .cart-table td {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .cart-table th:first-child,
  .cart-table td:first-child {
    width: 15%;
  }
  
  .cart-table th:nth-child(2),
  .cart-table td:nth-child(2) {
    width: 15%;
    text-align: left;
  }
  
  .cart-table th:nth-child(3),
  .cart-table td:nth-child(3),
  .cart-table th:nth-child(4),
  .cart-table td:nth-child(4) {
    width: 50%;
  }
  
  .cart-table th:last-child,
  .cart-table td:last-child {
    width: 15%;
  }
  
  .item-price,
  .item-total {
    font-weight: bold;
  }
  
  .item-quantity {
    color: #000000;
    font-weight: 700;
    }

    .quantity-btn-plus {

        border: 1px solid rgb(23, 136, 106);
        border-radius: 8px;
        padding: 0.5rem;
        font-size: 1.2rem;
        cursor: pointer;
      }

      .quantity-btn-minus {

        border: 1px solid #fffb00;
        border-radius: 8px;
        padding: 0.5rem;
        font-size: 1.2rem;
        cursor: pointer;
      }
      
      .remove-btn {

        border: 1px solid #ff0000;
        border-radius: 8px;
        padding: 0.5rem;
        font-size: 1.2rem;
        cursor: pointer;
      }
      
      .clear-btn,
      .buy-btn {
        background-color: rgb(23, 136, 106);
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 0.5rem;
        font-size: 1.2rem;
        cursor: pointer;
      }
      
      .clear-btn:hover,
      .buy-btn:hover {
        background-color: rgb(23, 136, 106);
      }
      
      .cart-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
      }
      
      @media only screen and (max-width: 768px) {
        .cart-table th:nth-child(2),
        .cart-table td:nth-child(2),
        .cart-table th:nth-child(3),
        .cart-table td:nth-child(3) {
          display: none;
        }
        .cart-table th:first-child,
        .cart-table td:first-child {
          width: 60%;
        }
        .cart-table th:nth-child(3),
        .cart-table td:nth-child(3),
        .cart-table th:last-child,
        .cart-table td:last-child {
          width: 20%;
        }
      }

      .cart-details{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        gap: 1rem;
      }
      .edit-buttons{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    /* empty card */
    .header-info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }